[Unit]
Description=Job that runs rsync
After=syslog.target network.target gitclone.service remote-fs.target nss-lookup.target
Requires=gitclone.service

[Service]
User=root
ExecStart=sudo rsync -avzh --chmod=Du+rwx /tmp/rnd /opt/
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
